@use "../util" as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-rubik);
    font-size: rem(18);
    background: var(--veryDarkBlue);
    color: var(--paleBlue);
}